.dropdown {
    position: relative;

    width: 220px;
}
.dropdown_btn{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 30px;

    font-size: 14px;
    font-weight: bold;

    color: #ffffff;
    background-color: #572f7f;
    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.dropdown_btn:hover{
    background-color: #371c52;
}

.dropdown_content{
    position: absolute;
    z-index: 2;

    padding: 5px;

    border-radius: 6px;

    background-color: #291240;
}
.dropdown_item {
    padding: 5px;
    margin: 1px;

    color: #ffffff;
    background-color: #572f7f;

    border: none;
    border-radius: 4px;
}
.dropdown_item:hover {
    background-color: #371c52;
}

@media only screen and  (min-device-width: 480px)
and (max-device-width: 768px) {
    .dropdown{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .dropdown_btn {
        font-size: 12px;
    }
}

@media only screen and  (min-device-width: 320px)
and (max-device-width: 480px) {
    .dropdown{
        position: absolute;
        bottom: 0;
        left: 0;

        width: 150px;
    }

    .dropdown_btn {
        height: 25px;

        font-size: 12px;
    }
}
