.hero{
    position: relative;
    min-height: 500px;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.item{
    max-width: 70%;
    padding-bottom: 60px;
    z-index: 2;
}
.title{
    margin: 0;
    font-size: 60px;
    font-weight: bolder;
}
.overview{
    font-size: 16px;
}
.rate{
    display: flex;
    justify-items: right;
    border: solid 3px #db1414;
    padding: 5px;
    width: fit-content;
    font-size: 20px;
    font-weight: bolder;
}
.count{
    display: flex;
    font-size: 12px;
    margin-left: 10px;
}
.genreItem{
    background-color: initial;
    font-size: 18px;
    font-weight: 500;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #111212;
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.icon{
    margin-left: 15px;
}
.trailer{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}
.bottom_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date{
    font-weight: bold;
}