.pages_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px 0;

    overflow: hidden;
}
.page, .current_page{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    padding: 5px;
    margin: 2px;

    color: #ffffff;
    background-color: #572f7f;
    border-radius: 8px;
    border: none;

    font: normal 14px sans-serif;

    cursor: pointer;
}

.page:hover {
    background-color: #371c52;
}

.current_page{
    font-weight: bold;

    background-color: #371c52;
}
.arrow{
    margin: 0;
    padding: 0;

    font-size: 20px;

    cursor: pointer;
}

@media only screen and  (min-device-width: 320px)
and (max-device-width: 480px) {
    .page, .current_page{
        width: 20px;
        padding: 3px;
        margin: 1px;

        color: #ffffff;
        background-color: #572f7f;
        border-radius: 8px;
        border: none;

        font: normal 12px sans-serif;

        cursor: pointer;
    }

    .current_page{
        font-weight: bold;

        background-color: #371c52;
    }
}
