.container {
    padding: 10px;
    background-color: #0F1014;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    max-width: 70%;
}
.poster_path {
    width: 100%;
    position: relative;
    display: block;
    max-width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}
.poster  {
    position: relative;
    display: inline-block;
    font: normal 12px sans-serif;
    overflow: hidden;
}

.poster_content {
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    padding: 10px;
    text-align: center;
}

.poster_btn {
    padding: 7px 14px;
    border: none;
    border-radius: 6px;
    background: #572f7f;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.poster button:hover {
    background: #b523b8;
}

.poster div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
    color: #fff;
    transform: translate(0px, -90px) rotate(0deg);
}

.poster:hover div {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    margin: 0;
    font-size: 16px;
}
.rate{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #d96f0d;
    border-radius: 4px;
    padding: 5px;
    min-width: 30px;
    max-height: 20px;
    font-weight: bold;
}
