.container {
    padding: 10px;
    background-color: #0F1014;;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 70%;
}
.poster {
    width: 100%;
}
.title {
    margin-left: 5px;
    margin-bottom: 10px;
}
