.genres {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px;

    font-size: 12px;
    text-decoration: none;

    color: white;
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.genre:hover {
    color: #c9c9c9;
}

@media only screen and  (min-device-width: 480px)
and (max-device-width: 768px) {
    .genre {
        font-size: 10px;
    }
}

@media only screen and  (min-device-width: 320px)
and (max-device-width: 480px) {
    .genre {
        font-size: 10px;
    }
}
