.genres {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.genre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px;

    font-size: 11px;
    text-decoration: none;

    color: white;
    background-color: #572f7f;
    border-radius: 6px;

    cursor: pointer;
}

.genre:hover {
    background-color: #390845;
}
