.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
    max-width: 1000px;


    background-color: #0F1014;;
}

.poster_path {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 360px;
    border: none;

    background-size: cover;
}

.poster {
    position: relative;

    display: inline-block;
    width: 100%;

    font: normal 14px sans-serif;

    overflow: hidden;
}

.poster_content {
    position: absolute;
    top: 0;

    padding: 10px;
    height: 100%;

    text-overflow: ellipsis;
    text-align: center;

    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.poster_btn {
    padding: 7px 14px;
    margin-bottom: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 550;

    color: #fff;
    background: #572f7f;
    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.poster button:hover {
    background: #371c52;
}

.poster div {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;

    transition: all 0.4s ease-in-out;
    transform: translate(0px, -90px) rotate(0deg);
}

.poster:hover div {
    opacity: 1;

    transform: translate(0px, 0px) rotate(0deg);
}

.bottom_item {
    display: block;
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.title {
    margin: 0;

    font-size: 14px;
}

.rate {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    max-height: 10px;
    padding: 5px;

    font-weight: bold;
    font-size: 14px;

    border: solid 1px #d96f0d;
    border-radius: 4px;
}

.arrow {
    position: fixed;
    left: 90%;
    top: 90%;
    z-index: 3;

    font-size: 40px;

    transition: 0.8s;

    cursor: pointer;
}

.arrow.arrowTop {
    transition: 0.8s;
    transform: rotate(0.5turn);
}

@media only screen and  (min-device-width: 768px)
and (max-device-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 auto;
    }
    .poster_path {
        height: 80%;
    }
}

@media only screen and  (min-device-width: 480px)
and (max-device-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .poster_path {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 80%;
        border: none;

        background-size: cover;
    }

    .title {
        font-size: 12px;
    }

    .rate {
        min-width: 10px;
        max-height: 5px;
        padding: 5px;

        font-weight: bold;
        font-size: 12px;

        border: solid 1px #d96f0d;
        border-radius: 4px;
    }
}

@media only screen and  (min-device-width: 320px)
and (max-device-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .poster_path {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 80%;
        border: none;

        background-size: cover;
    }

    .title {
        font-size: 12px;
    }

    .rate {
        min-width: 10px;
        max-height: 5px;
        padding: 5px;

        font-weight: bold;
        font-size: 12px;

        border: solid 1px #d96f0d;
        border-radius: 4px;
    }

    .arrow {
        font-size: 30px;
    }
}
