.navbar {
    max-width: 1000px;
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navigation{
    display: flex;
    justify-content: flex-start;
}
.link, .active_link {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #572f7f;
    margin-right: 15px;
    padding: 5px;
    border-radius: 6px;
}
.active_link {
    background-color: #390845;
}
.link:hover {
    background-color: #371c52;
}
