.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_active{
    display: flex;
    flex-direction: row;
}
.open_btn{
    margin-right: 5px;
    padding: 5px;

    background-color: #572f7f;
    border-radius: 6px;

    cursor: pointer;
}
.close_btn{
    margin-right: 5px;
    padding: 5px;

    background-color: #572f7f;
    border-radius: 6px;

    cursor: pointer;
}
.input{
    margin-right: 5px;
    padding: 4px;

    font-size: 14px;

    color: #ffffff;
    background-color: #42275c;
    border: none;
}
.btn{
    padding: 5px;

    font-size: 14px;
    font-weight: bold;

    color: #ffffff;
    background-color: #572f7f;
    border-radius: 6px;
    border: none;

    cursor: pointer;
}
.open_btn:hover {
    background-color: #371c52;
}
.close_btn:hover {
    background-color: #371c52;
}
.btn:hover {
    background-color: #371c52;
}