.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_active{
    display: flex;
    flex-direction: row;
}
.open_btn{
    margin-right: 5px;
    cursor: pointer;
    background-color: #572f7f;
    border-radius: 6px;
    padding: 7px;
}
.close_btn{
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #572f7f;
    border-radius: 6px;
}
.input{
    font-size: 18px;
    color: white;
    margin-right: 5px;
    background-color: #42275c;
    padding: 4px;
    border: none;
}
.btn{
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #572f7f;
    border-radius: 6px;
    padding: 5px;
    border: none;
}